<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <h1><%= @user.name %>様、Bookersへようこそ。</h1>
    <p>
    	Bookersへのサインアップが成功しました。
    	your username is: <%= @user.name %>.<br>
    </p>
    <p>
    	このサイトにログインするには、<%= @url %>をクリックしてください。
    </p>
    <p>ご入会ありがとうございます。どうぞお楽しみくださいませ。</p>
  </body>
</html>
