<h3> Search History </h3>
<table class="table table-hover table-inverse">

  <thead>
	<tr>
	  <th>SeachWord</th>
	  <th>
	  	  <%= form_tag(search_sort_path,:method => 'get',remote: true) do %>
          <%= select_tag :sort, options_for_select(["search asc","search desc", "created_at asc", "created_at desc"]) %>
          <%= submit_tag '並べ替え', :name => nil %>
          <% end %>
	  </th>
	</tr>
  </thead>

  <tbody>
	<%= render 'books/sort' %>
  </tbody>

</table>